{% extends "base_generic.html" %}

{% block content %}

	<form id="searchform" action="{% url 'dorms' %}" method="get" accept-charset="utf-8">
      <input class="dormsearch" id="searchbox" name="q" type="text" placeholder="Find the dorm you need.">
	</form>
  
	<h4 class="padding-small">All dorms near University Belt</h4>
	
	<div class="container">
	<div class="row">
	{% if dorm_list %}	
		{% for dorm in dorm_list %}
		<div class="padding-small col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="image-container"><img class="image-standard" src="{{ dorm.dorm_primary_picture.url }}"/></div>
		<div class="padding-title"><a class="hyperlink" href="{{ dorm.get_absolute_url }}">{{ dorm.dorm_name }}</a></div>
		<div class="padding-very-small">Available rooms: {{dorm.dorm_room_count}}</div>
		</div>		
		{% endfor %}
	{% else %}
		<p>There are no dorms in our records.</p>
	{% endif %}
	</div>
	</div>

{% endblock %}