{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <div class="row" style="position:  fixed; height: 50%; top: 25%; display: inline-block; left: 0; padding-left: 10%; padding-right: 10%; margin: 0px !important; width: 100%;">
	<h1 class="welcome-color">Welcome to UBelt Dorms</h1>
	<div class="login-button-fb"><i class='fab fa-facebook-f'></i>&nbsp;&nbsp;<a href="{% url 'social:begin' 'facebook' %}">LOGIN WITH FACEBOOK</a></div>
	<div class="login-button-twitter"><i class='fab fa-twitter'></i>&nbsp;&nbsp;<a href="{% url 'social:begin' 'twitter' %}">LOGIN WITH TWITTER</a></div>
    </div>
	{% endif %}
{% endif %}
{% endblock %}